body{
    font-family: 'Montserrat', sans-serif;
    /* overflow is set to visible after the animation of the content is played*/
    overflow: hidden;
    background-color: rgb(25, 25, 25);
    /* overflow: hidden; */
    margin: 0;
    margin-bottom: 40px;
    display: grid;
    grid-template-rows: 45vh 1fr;
    grid-template-areas: "banner"
                         "main";
}
/*NAV*/
nav{
    z-index: 1;
    background-color: rgba(25, 25, 25, 0.7);
    backdrop-filter: blur(10px);
    position: absolute;
    width: 100%;
    min-height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav a{
    color: rgb(220, 220, 220);
    font-size: 23px;
    margin: 0px 10px;
    padding: 5px 5px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
nav a:hover, .gallery_switch a:hover, .gallery_switch a:focus{
    color: black;
    background-color: rgb(220, 220, 220);
}
button{
    all: unset;
    cursor: pointer;
}
.burger{
    z-index: 2;
    position: absolute;
    top: 33px;
    right: 33px;
}
.logo{
    z-index: 2;
    position: absolute;
    top: 22px;
    left: 28px;
    height: 23px;
    width: auto;
}
/*END NAV*/
/*BANNER*/
.banner{
    grid-area: banner;
    background-image: URL("/media/banner3.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/*END BANNER*/
/*MAIN*/
main{
    grid-area: main;
    display: flex;
    align-items: flex-start;
    padding-top: 40px;
    align-items: center;
    flex-direction: column;
}
.animateIn{
    /*For animation*/
    transform: translateY(100%);
    opacity: 0;
}

.gallery_switch{
    width: 1481px;
    display: flex;
    justify-content: start;
}

.gallery_container{
    display: flex;
    width: 100%;
}

.gallery_switch a{
    color: rgb(220, 220, 220);
    border: 1px solid rgb(100, 100, 100);
    font-size: 23px;
    padding: 5px 20px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.white-box{
    display: grid;
    border: 1px solid rgb(100, 100, 100);
    width: 1380px;
    padding: 50px 50px;
    text-align: center;

    grid-template-columns: 675px 675px;
    grid-template-rows: 30px 675px 30px 675px 30px 675px;
    grid-template-areas:"title1 title1"
                        "topLeft topRight"
                        "title2 title2"
                        "midLeft midRight"
                        "title3 title3"
                        "bottomLeft bottomRight";
    grid-gap: 30px;
    /* Position in the center */
    position: absolute;
    right: -50%;
    transform: translate(-50%, 0);
}
.abstract_gallery{
    flex: none;
    margin-left: -50%;
    opacity: 0;
}
hr{
    width: 100%;
    border-color: rgb(100, 100, 100);
}
h1, h2, h3, h4{
    color: rgb(220, 220, 220);
}
h1{
    font-size: 50px;
}
.title1{
    grid-area: title1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topLeft{
    grid-area: topLeft;
    display: grid;
    grid-template-columns: 330px 330px;
    grid-template-rows: 330px 330px;
    grid-template-areas:"TL_topLeft TL_topRight"
                        "TL_bottomLeft TL_bottomRight";
    grid-gap: 15px;
}
.TL_topLeft{
    grid-area: TL_topLeft;
    text-align: start;
    display: flex;
    align-items: center;
}
.TL_topRight{
    grid-area:TL_topRight;
}
.TL_bottomLeft{
    grid-area: TL_bottomLeft;
}
.TL_bottomRight{
    grid-area: TL_bottomRight;
}
.topRight{
    grid-area: topRight;
    
}
.topRight img{
    object-position: -15px;
}
.title2{
    grid-area: title2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.midLeft{
    grid-area: midLeft;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.midRight{
    grid-area: midRight;
    display: grid;
    grid-template-columns: 330px 330px;
    grid-template-rows: 330px 330px;
    grid-template-areas:"MR_topLeft MR_topRight"
                        "MR_bottomLeft MR_bottomRight";
    grid-gap: 15px;
}
.MR_topLeft{
    grid-area: MR_topLeft;
}
.MR_topRight{
    grid-area: MR_topRight;
    text-align: end;
    display: flex;
    align-items: center;
}
.MR_bottomLeft{
    grid-area: MR_bottomLeft;
}
.MR_bottomLeft img{
    object-position: left;
}
.MR_bottomRight{
    grid-area: MR_bottomRight;
}

.title3{
    grid-area: title3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottomLeft{
    grid-area: bottomLeft;
    display: grid;
    grid-template-columns: 330px 330px;
    grid-template-rows: 330px 330px;
    grid-template-areas:"BL_topLeft BL_topRight"
                        "BL_bottomLeft BL_bottomRight";
    grid-gap: 15px;
}
.BL_topLeft{
    grid-area: BL_topLeft;
    text-align: start;
    display: flex;
    align-items: center;
}
.BL_topRight{
    grid-area: BL_topRight;
}
.BL_bottomLeft{
    grid-area: BL_bottomLeft;
}
.BL_bottomRight{
    grid-area: BL_bottomRight;
}
.bottomRight{
    grid-area: bottomRight;
}

